.content-section {
  background: #DAE5F5;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-section img {
  height: 225px;
  width: 414px;
}

.head{
    width:100%;
    height:60px;
    color:#FFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #16008b;
}

.head p{
    margin-left: 30px;
    font-size: 25px;
    font-weight: 500;
}

.upper-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  align-items: flex-start;
  overflow-y: auto;
 
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info h2 {
  text-align: center;
}

.bottom-section {
  width: 100%;
  background: #16008b;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  z-index:100;
}

.writing-section {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
 
 
}

.writing-section textarea {
  width: 925px;
  height:120px;
  padding:8px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: -10px;
  text-align: left;
  font-size: 20px;
  color:rgb(35, 35, 35)
  
}
.writing-section textarea::placeholder{
    text-align: left;
    font-size: 20px;
    color: #9A9A9A
}
.send-icon {
  position: relative;
  z-index: 300;
  font-size: 30px;
  top: 50px;
  right: -900px; 
  cursor: pointer;
}

